body{
    font-weight: bold;
    min-width: 400px;
}
#save-btn,#save-tab{
    color : white;
    background-color: #5f933e;
    border : 1px solid #5f933e;;
    padding : 4px 8px;
    font-weight: bold;
    margin-top : 5px;
}
#del-btn{
    color :#5f933e ;
    background-color: white;
    border : 1px solid #5f933e;
    padding : 4px 8px;
    font-weight: bold;
    margin-top : 5px;
}
#input-el{
    border : 2px solid #5f933e;
    width : 100%;
    padding : 10px;
    box-sizing: border-box;
}
ul{
list-style: none;
padding-left: 0;
margin-top : 20px;
}
li{
margin-top : 5px;
}
a{
    color : #5f933e
}